<div *ngIf="image" class="row">
  <div class="col-md-12">
    <h2 *ngIf="image._id">Image Details</h2>
    <h2 *ngIf="!image._id">New Image</h2>
  </div>
</div>
<div *ngIf="image" class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="image-description">Description</label>
      <input class="form-control" name="image-description" [(ngModel)]="image.description" placeholder="Description" />
    </div>
    <div class="form-group">
      <label for="image-other">Email</label>
      <input class="form-control" name="image-other" [(ngModel)]="image.other" placeholder="Other" />
    </div>
    <div class="form-group">
      <label for="image-image">IMAGE HERE</label>
      <input class="form-control" name="image-image" [(ngModel)]="image.image" placeholder="=)" />
    </div>
  
    <button class="btn btn-primary" *ngIf="!image._id" (click)="createImage(image)">Create</button>
    <button class="btn btn-info" *ngIf="image._id" (click)="updateImage(image)">Update</button>
    <button class="btn btn-danger" *ngIf="image._id" (click)="deleteImage(image._id)">Delete</button>
  </form>
</div>